{
  "presets": [
    "@babel/preset-env",
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
  ],
  "env": {
    "test": {
      "plugins": [
        "dynamic-import-node"
      ]
    }
  }
}