{
  "presets": [
    ["@babel/preset-env", {
      "modules": false
    }]
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "browsers": "node >=10"
          },
        }],
      ],
      "plugins": [
        "dynamic-import-node"
      ]
    },
    "esm": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false,
            "targets": {
              "esmodules": true
            }
          }
        ]
      ]
    }
  }
}
