node_modules/
jspm_packages/
bower_components/
npm-debug.log
lib
coverage/
dist/
.DS_Store
yarn-error.log

# This file is a copy of the single-spa.d.ts file. See scripts/copyTypes.
typings/single-spa.d.cts